alias ls='ls --color=auto'
alias ll='ls -lav'   # show long listing of all except ".."
alias l='ls -lv'   # show long listing but no hidden dotfiles except "."

alias emacs='emacsclient -nw'
alias e='emacsclient -nw'

if [ command -v rg &> /dev/null ]; then
    alias grep='rg --color=auto'
    alias egrep='rg --color=auto'
    alias fgrep='rg -F --color=auto'
else
    alias grep='grep --color=auto'
    alias egrep='egrep --color=auto'
    alias fgrep='fgrep --color=auto'
fi

if [ command -v fd &> /dev/null ]; then
    alias find="fd"
fi

if [ command -v bat &> /dev/null ]; then
    alias cat="bat"
fi
